<div class="full-width">
  <section class="header-wrapper">
    <header class="banner" role="banner">
      <nav class="home-navbar navbar navbar-default">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to('GreenMile', root_path, class: "navbar-brand", method: :get) %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to('Places', places_path, method: :get) %></li>
              <li><%= link_to('Hotels', hotels_path , method: :get) %></li>
              <li><%= link_to('Restaurants', "places_path", method: :get) %></li>
              <% if current_user.present? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
                    role="button"   aria-haspopup="true" aria-expanded="false"> 
                    <span class="glyphicon glyphicon-user"></span> 
                    <%= current_user.name %> <span class="caret"></span>
                  </a>

                  <ul class="dropdown-menu">
                    <% if current_user.is_admin? %>
                      <li><%= link_to('Admin Panel', admin_root_path, 
                          method: :get) %></li>
                    <% end %>
                    <li><%= link_to('Edit Profile', edit_user_registration_path, 
                        method: :get) %></li>
                    <li><%= link_to('Sign out', destroy_user_session_path, 
                        method: :delete) %></li>
                  </ul>

                </li>
                
              <% else %>
                <li><%= link_to('Sign in', new_user_session_path, method: :get) %></li>
                <li>
                  <%= link_to('Sign up', new_user_registration_path, method: :get) %>
                </li>
              <% end %>
            </ul>
          </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->
      </nav>
    </header>
  </section>
</div>
<div class="full-width">
  <section class="hero-home">
    <div class="overlay top">
    </div>
    <div class="search">
      <h1>Find your place to travel</h1>
      <!-- Begin Search Places Form -->
      <%= form_tag(places_path, :method => "get", id: "search-form") do %>
        <div class="row">
          <div class="col-md-10 col-xs-10">
            <div class="col-md-6 col-xs-6">
              <div class="input-group input-group-lg">
                <%= text_field_tag :search, params[:search], 
                  placeholder: "Search Places ....", class: "form-control" %>
              </div>
            </div>
            <div class="col-md-6 col-xs-6">
              <div class="input-group input-group-lg">
                <%= select_tag('province_id', options_from_collection_for_select(@provinces, 'id', 'name'), prompt: 'City, Province...', class: 'form-control') %>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-xs-2">
            <div class="input-group input-group-lg">
              <%= submit_tag "Search", class: "btn btn-default btn-lg" %>
            </div>
          </div>
        </div>
      <% end %>
      <!-- End of Search places form -->
    </div>
  </section>
</div>