<h1>Update Restaurant</h1>

<%= form_for(@restaurant, url: admin_restaurant_path, html: {multipart: true}) do |f| %>
  <%= render partial: 'admin/layouts/error_messages', locals: {zone: @restaurant} %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :province %>
    <%= f.select :province_id, options_for_select(@provinces.map { |u| [u.name, u.id] }), {}, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone %>
    <%= f.telephone_field :phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :website %>
    <%= f.url_field :website, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_area :details, class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="file">Photos: </label> <%= file_field :photos, :files, multiple: "multiple", accept: "image/*", id: "photos", class:"file" %>
    <div class="clearfix"></div>
  </div>
  
  <%= f.submit "Save change", class: "btn btn-primary" %>
<% end %>