<%= render 'partials/header' %>
<div class="container">
  <section class="famous-places">
    <h1 class="title text-center">Most famous</h1>
    <h3 class="text-center">The must-go places for all travellers...</h3>
    <% @famous_places.each_with_index do |place, inx| %>
      <div class="row place">
        <% if inx % 2 == 0 %>
          <div class="col-md-8 col-xs-6 responsivewrapper">
            <div class="hold">
              <div class="place-images">
                <% place.banner_photos.each do |photo| %>
                  <div class="image-holder"><%= image_tag photo.image.url %></div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-xs-6">
            <h2><%= link_to place.name, place_path(place), method: :get %></h2>
            <p><%= place.description%></p>
          </div>
        <% else %>
          <div class="col-md-4 col-xs-6">
            <h2><%= link_to place.name, place_path(place), method: :get %></h2>
            <p><%= place.description%></p>
          </div>
          <div class="col-md-8 col-xs-6 responsivewrapper">
            <div class="hold">
              <div class="place-images">
                <% place.banner_photos.each do |photo| %>
                  <div class="image-holder"><%= image_tag photo.image.url %></div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </section>
  <section class="more-places">
    <h1 class="title text-center"><%= link_to('Explore more', places_path) %></h1>
    <div class="slider-wrapper">
      <div class="row recent-places">
        <% @recent_places.each do |place| %>
          <div class="place col-md-12">
            <% if place.place_photos.empty? %>
              <img src="" alt="" width="100%" height="250px"/>
            <% else %>
              <%= image_tag place.place_photos.first.try(:image).try(:url), height: '100%', width: 'auto' %>
            <% end %>
            <h3><%= link_to place.name, place_path(place), method: :get %></h3>
            <span><i class="glyphicon glyphicon-comment" aria-hidden="true"></i><%= place.place_comments_count %></span>
            <p><%= place.description %></p>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>
