<h1>List Hotels</h1>

<div class="row">
  <div class="col-md-3">
    <%= button_to "Create new hotel", new_admin_hotel_path, method: :get, 
        class: "btn btn-primary" %>
  </div>
  <div class="col-md-9">
    <%= form_tag(admin_hotels_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Hotels" %>
      <%= submit_tag "Search", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Province</th>
  </tr>

  <% @hotels.each do |hotel| %>
    <tr>
      <td> <%= hotel.id %> </td>
      <td> <%= hotel.name %> </td>
      <td> <%= Province.find(hotel.province_id).name %> </td>
      <td> <%= link_to "Details", hotel_path(hotel), target: "_blank", 
          class: "btn btn-default" %> </td>
      <td> <%= button_to "Edit", edit_admin_hotel_path(hotel), method: :get, 
          class: "btn btn-primary" %> </td>
      <td> <%= button_to "Delete", admin_hotel_path(hotel), method: :delete,
          data: {confirm: "Are you sure?"}, class: "btn btn-danger" %> </td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>