<h1>List Hotels</h1>

<%= button_to "Create new Hotel", new_admin_hotel_path, method: :get, 
    class: "btn btn-primary" %>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Province</th>
  </tr>

  <% @hotels.each do |hotel| %>
    <tr>
      <td> <%= hotel.id %> </td>
      <td> <%= hotel.name %> </td>
      <td> <%= Province.find(hotel.province_id).name %> </td>
      <td> <%= button_to "Details", admin_hotel_path(hotel), method: :get, 
          class: "btn btn-default" %> </td>
      <td> <%= button_to "Edit", edit_admin_hotel_path(hotel), method: :get, 
          class: "btn btn-primary" %> </td>
      <td> <%= button_to "Delete", admin_hotel_path(hotel), method: :delete,
          data: {confirm: "Are you sure?"}, class: "btn btn-danger" %> </td>
    </tr>
  <% end %>
</table>

