<h1>Hotel <%= @hotel.name %></h1>

<div class="container">
<%= link_to "Edit", edit_admin_hotel_path, method: :get %>
<%= link_to "Delete", admin_hotel_path, method: :delete,
    data: {confirm: "Are you sure?"} %>
</div>

<div>
  <p>
    Address: <%= @hotel.address %>, 
    province: <%= Province.find(@hotel.province_id).name %>
  </p>
  <p>Phone: <%= @hotel.phone %></p>
  <p>Email: <%= @hotel.email %></p>
  <p>Website: <%= @hotel.website %></p>
</div>
<div>
  <%= @hotel.details %>
</div>

<%= link_to "Back", admin_hotels_path %>