<div class="wrap">
  <div class="row">
    <div class="col-md-3 menu-admin">
      <ul>
        <li> <%= link_to "Provinces", admin_provinces_path %> </li>
        <li> <%= link_to "Places", admin_places_path %> </li>
        <li> <%= link_to "Hotels", admin_hotels_path %> </li>
        <li> <%= link_to "Restaurants", admin_restaurants_path %> </li>
        <li> <%= link_to "Users", admin_users_path %> </li>
      </ul>
    </div>

    <div class="col-md-9">
      <%= yield %>
    </div>
  </div>
</div>