<%= render 'partials/header' %>

<div class="container">
  <% @places.each do |place| %>
    <div class="row list-place">
      <div class="col-md-5 col-md-offset-1">
        <% if place.place_photos.empty? %>
          <img src="travel-default.jpg", height="200px", width="auto">
        <% else %>
          <%= image_tag place.place_photos.first.try(:image).try(:url), height: '200px', width: 'auto' %>
        <% end %>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h1> <%= link_to place.name, place_path(place), method: :get %> </h1>
        <p> <%= place.description %> </p>
      </div>
    </div>
    <hr>
  <% end %>
  <div class="place-pagination">
    <%= will_paginate %>
  </div>
</div>