<%= render 'partials/navbar' %>
<%= render 'partials/notification' %>

<div class="container">
  <%= form_for(@place, html: {multipart: true}) do |f| %>
    <%= label_tag :name, "Name: " %>
    <%= f.text_field :name , class:"form-control"%>
    <%= label_tag :province_id, "Province: " %>
    <%= f.select :province_id, options_for_select(@provinces.map { |u| [u.name, u.id] }), {}, class:"form-control" %>
    <%= label_tag :description, "Description: " %>
    <%= f.text_area :description, class:"form-control" %>
    <label for="file">Photos: </label> <%= file_field :photos, :files, multiple: "multiple", accept: "image/*", id: "photos", class:"file" %>
    <div class="clearfix"></div>
    <%= f.submit %>
  <% end %>
</div>
